@import url(reset.css);

.header-container {
	width: 100%;
	display: flex;
	align-items: center;
	background-color: white;
	justify-content: space-between;
	position: fixed;
}

.heading-text {
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	line-height: 57px;
	color: #E50043;
	padding: 50px;
	
}

.links-style a {
	margin-right: 25px;
	font-family: Arial;
	font-size: 50px;
	line-height: 57px;
	color: #E50043;
	margin-right: 50px;
}

.links-style li {
	display: inline;
}

.main-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 100px;
}
 
.image-conteiner {
	width: 100%;
	height: 950px;
	background-image: url(../img/evian_origins_logo.png);
	background-size: cover;
	display: flex;
}

.image-conteiner h1 {
	margin: auto;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 100px;
	line-height: 115px;
	color: #E50043;
}

.text-content {
	width: 1040px;
	font-family: Arial;
	font-size: 25px;
	line-height: 29px;
	letter-spacing: 0.05em;
	color: #000000;
	border: 3px solid #F8BFC7;
	box-sizing: border-box;
	border-radius: 20px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	margin-top: 150px;
	margin-bottom: 150px;
}

.our-water {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 24px;
}

.image {
	width: 1037px;
	display: flex;
	justify-content: space-between;
}

.image-wang {
	width: 281px;
	height: 863px;
	background-image: url(../img/wang.png);
}

.image-blue {
	width: 281px;
	height: 863px;
	background-image: url(../img/blue.png);
}

.image-chiara {
	width: 281px;
	height: 863px;
	background-image: url(../img/chiara.png);
}

.image-text {
	width: 1037px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 42px; 
}

.caption {
	width: 249px;
	font-family: Arial;
	font-size: 25px;
	line-height: 29px;
	text-align: center;
	color: #000000;
}

.image-glass {
	width: 101px;
	height: 220px;
	background-image: url(../img/glass.png);
}

.composition {
	width: 749px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-top: 30px;
	margin-bottom: 30px;
}

.footer-container {
	background: #F8BFC7;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer-text {
	font-family: Arial;
	font-size: 50px;
	line-height: 57px;
	color: #FFFFFF;
	margin-left: 50px;
}

.back-main a {
	font-family: Arial;
	font-size: 50px;
	line-height: 57px;
	color: #FFFFFF;
	margin-right: 50px;
}

.our-water h2{
	margin-bottom: 25px;
}

.composition h2, ul{
	margin-bottom: 25px;
}


