@import url(reset.css);

.header-container {
	width: 100%;
	background: #0000FF;
	font-family: Helvetica;
	font-size: 25px;
	line-height: 29px;
	display: flex;
	align-items: center;
	color: #FFFFFF;
}

.header-text {
	padding-top: 35px;
	padding-bottom: 36px;
	padding-left: 30px; 
}

.main-content {
	width: 100%;
	font-family: Helvetica;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	line-height: 29px;
	color: #000000;
	word-wrap: break-word;
	align-items: center;
	margin-top: 40px;
}

.paragraph-text {
	width: calc(100% - 45px);
	height: calc((100vw - 45px)/2);
	display: flex;
	align-items: center;
	text-align: center;
	border: 5px solid #000000;
	box-sizing: border-box;
	padding: 30px;
	margin-bottom: 21px;
	margin-top: 21px;
	margin-left: 23px;
}

.footer-container {
	width: 100%;
	background: #0000FF;
	font-family: Helvetica;
	font-size: 25px;
	line-height: 29px;
	display: flex;
	align-items: center;
	color: #FFFFFF;
}

.footer-text {
	margin-right: auto;
	padding-top: 35px;
	padding-bottom: 36px;
	padding-left: 30px;
}

.footer-container a{
	font-family: Helvetica;
	font-size: 25px;
	line-height: 29px;
	color: #FFFFFF;
	text-decoration: none;
	padding-right: 30px;
}

@media screen and (min-width: 668px) {

	.main-content {
		font-size: 0;
		margin-top: 102px;
		margin-bottom: 102px;
	}

	.text1 {
		display: inline-block;
		vertical-align: top;
		width: calc((100vw - 240px)/2);
		height: calc(((100vw - 240px)/2)/2);
		margin-bottom: 20px;
		margin-right: 20px;
		margin-left: 110px; 
	}

	.text2 {
		display: inline-block;
		vertical-align: top;
		width: calc((100vw - 240px)/2);
		height: calc(((100vw - 240px)/2)/2);
		margin-bottom: 20px;
	}

	.text3 {
		display: inline-block;
		vertical-align: bottom;
		width: calc((100vw - 240px)/2);
		height: calc(((100vw - 240px)/2)/2);
		margin-right: 20px;
		margin-left: 110px;
	}

	.text4 {
		display: inline-block;
		vertical-align: bottom;
		width: calc((100vw - 240px)/2);
		height: calc(((100vw - 240px)/2)/2);
	}

	.paragraph-text {
		width: calc((100vw - 240px)/2);
		height: calc(((100vw - 240px)/2)/2);
		font-size: 50px;
		line-height: 57px;
	}
}

