@import url(reset.css);

.header-container {
	background-color: #FE1A19;
	font-family: Helvetica;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 23px;
	color: #FFFFFF;
}

.heading-text {
	display: inline-block;
	margin: 20px 0 20px 20px;	
}

.main-container {
	width: 1300px;
	margin: 52px auto;
	font-size: 0;
}

h2 {
	font-family: Helvetica;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 23px;
}

.paragraph-text {
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 23px;
}

.first-section {
	width: 400px;
	box-sizing: border-box; 
	display: inline-block;
	border: 5px solid #E5E000;
	border-radius: 30px;
}

.second-section {
	width: 400px;
	display: inline-block;
	box-sizing: border-box;
	border: 5px solid #E5E000;
	border-radius: 30px;
	margin-right: 50px;
	margin-left: 50px;
}

.third-section {
	width: 400px;
	display: inline-block;
	box-sizing: border-box;
	border: 5px solid #E5E000;
	border-radius: 30px;
}

.footer-container {
	background-color: #FE1A19;
	position: relative;
}

.footer-text {
	display: inline-block;
	font-family: Helvetica;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 23px;
	color: #FFFFFF;
	margin-left: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
}

a {
	font-family: Helvetica;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 23px;
	color: #FFFFFF;
	position: absolute;
	right: 0;
	bottom: 20px;
}

.section-text {
	padding: 33px 33px 33px;
}

.ingridients {
	width: 314px;
	margin-bottom: 20px;
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 23px;
}

.ingridients-topping {
	font-family: Times New Roman;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 23px;
}

.dish {
	margin-bottom: 41px;
}