.body-content {
	/*width: 1440px;
	border-style: hidden;
	margin: auto;*/
}

.main-content {
	font-size: 0;
}

.header-container {
	height: 200px;
	background-color: #E5E000;
}

.heading-text {
	font-family: 'Helvetica';
	font-size: 50px;
	color: white;
	display: inline-block; 
	margin-top: 80px;
	margin-right: 890px;
	margin-bottom: 80px;
	margin-left: 80px;
}

.image {
	height: 1080px;
	background-image: url(../img/img.png);
	background-size: cover;
}

.paragraph-text {
	font-family: 'Helvetica';
	font-size: 50px;
	color: black;
}

.links-container {
	height: 100px;
	background-color: #E5E000;
}

.links {
	text-transform: uppercase;	
	font-family: Helvetica;
	font-style: normal;
	font-weight: bold;
	font-size: 25px;
	color: white;
	display: inline-block;  
	margin-top: 36px;
	margin-bottom: 35px;
	margin-left: 80px;
}

a {
	color: white;
}

.footer-container {
	height: 200px;
	background-color: #E5E000;
	position: relative;
}

.footer-content-text {
	font-family: 'Helvetica';
	line-height: 25px;
	font-size: 50px;
	color: white;
	text-align: right;
	display: inline-block;
	position: absolute;
	right: 80px;
	top: 90px;

}

.footer-content-image {
	display: inline-block;
	margin-top: 77px;
	margin-left: 80px;
	margin-bottom: 77px;
	margin-right: 461px;
}

h2 {
	font-size: 50px;
	font-weight: bold;
	margin-top: 50px;
	margin-bottom: 50px;
}






