@import url(reset.css);

.body-container {
	background-color: black;
}

.header-container {
	display: flex;
	align-items: center;
	padding: 30px 60px 30.13px 60px;
	justify-content: space-between;
	background-color: black;
}

.header-container .logo {
	display: inline-block;
}

.header-container a {
	font-family: sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	line-height: 18px;
	color: #FFFFFF;
	text-transform: uppercase;
	text-decoration: none;
}

.menu ul {
	display: flex;
}

.menu li {
	margin-right: 30px;
}

.menu {
	display: inline-block;
}

.menu a:visited {
	color: #A37846;
}

.menu a:hover {
	color: gray;
}

span {
	background-color: white;
	border: 1px solid white;
}

button {
	color: white;
	border: 0;
	padding: 0;
	background-color: black;
	outline: none;
	cursor: pointer;
}

.lang {
	margin-right: 20px;
}

.search {
	margin-left: 20px;
}

.infopanel {
	display: flex;
	justify-content: space-between;
	background-color: white;
	border: 1px solid white;
	border-radius: 10px;
	margin-left: 60px;
	margin-right: 60px;
	margin-bottom: 15px;
	padding-top: 19px;
	padding-left: 16px;
	padding-bottom: 19px;
	font-family: sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 17px;
	line-height: 20px;
}

.exchange-rates {
	display: inline-block;
}

.exchange-rates p {
	display: inline-block;
}

.usd::before {
	content: '$';
	color: #9CA1A9;
}

.eur::before {
	content: '\20AC';
	color: #9CA1A9;
}

.order {
	margin-right: 48px;
}

.sliders {
	color: #9CA1A9;
 	position: relative;
 	text-transform: uppercase;
}

.slider {
	width: 48px;
  	height: 24px;
	position: absolute;
	cursor: pointer;
  	top: 16px;
  	right: 16px;
  	background-color: #E6E6E6;
  	transform: translateY(-16px);
  	transition: .4s;
  	border-radius: 34px;
}

.round {
	position: absolute;
	width: 20px;
	height: 20px;
	top: 18px;
	right: 42px;
	transform: translateY(-16px);
	background-color: white;
	transition: .4s;
	border-radius: 50%;
}

input:checked ~ .round {
	transform: translate(24px, -16px);
}

input:checked + .slider {
	background-color: #b88b59;
}

input {
	visibility: hidden;
}

.main-container {
	background-color: white;
	margin-left: 60px;
	margin-right: 60px;
	padding-top: 60px;
	padding-bottom: 88px;
}

.main-container a {
	text-decoration: none;
	color: black;
}

.heading-news {
	font-family: PF Regal Text Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 50px;
	line-height: 50px;
	text-align: center;
	border: 5px solid #A37846;
	box-sizing: border-box;
	border-radius: 10px;
	margin-left: 60px;
	margin-right: 66px;
	margin-bottom: 20px;
	padding-left: 66px;
	padding-top: 45px;
	padding-right: 60px;
}

time {
	font-family: sans-serif;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	line-height: 18px;
	color: #9CA1A9;
}

.heading-news time {
	display: inline-block;
	text-align: center;
	margin-top: 58px;
	margin-bottom: 29px;
}

.news {
	display: grid;
	grid-template-columns: 2fr 1fr 1fr;
	grid-template-rows: auto;
	margin-left: 60px;
	margin-right: 60px;
	border: 1px solid #9CA1A9;
	box-sizing: border-box;
	border-radius: 10px;
	padding: 30px 30px;
}

.main-new {
	grid-column: 1/2;
	grid-row: 1/3;
	place-self: start center;
	font-family: PF Regal Text Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 35px;
	line-height: 41px;
	padding-right: 30px;
}

.main-new h2 {
	margin-bottom: 194px;
}

.new {
	align-self: stretch;
	display: grid;
	grid-template-columns: 100%;
	grid-template-rows: auto;
	font-family: PF Regal Text Pro;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 23px;
}

.new time {
	align-self: end;
}

.new.first, .new.third {

	padding-right: 50px;
}

.new.third, .new.fourth {
	padding-top: 50px;
}

.news.one {
	margin-bottom: 20px;
}

.main-new a:hover, 
.new a:hover, 
.heading-news a:hover, 
.footer-container a:hover {
	transition: .3s;
	color: gray;
} 

.footer-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-family: sans-serif;
	white-space: nowrap;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	line-height: 18px;
	letter-spacing: -0.05em;
	color: #FFFFFF;
	padding: 50px 60px 39px 60px;
}

.footer-container a {
	color: white;
	text-decoration: none;
	font-weight: normal;
}

.footer-content {
	display: grid;
	grid-template-columns: repeat(5, minmax(min-content, max-content));
	grid-template-rows: auto;
	column-gap: calc((100vw - 44vw)/4);
}

.footer-content h3 {
	text-align: center;
}

.rubricator {
	grid-area: 1/1/2/2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.rubricator ul, .socials ul, .telegram ul , .project ul , .ad ul {
	margin-bottom: 34px;
}

.apps {
	grid-area: 2/1/3/2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.socials {
	grid-area: 1/2/3/3;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.telegram {
	grid-area: 1/3/2/4;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.push {
	grid-area: 2/3/3/4;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.project {
	grid-area: 1/4/3/5;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.redaction {
	grid-area: 2/4/3/5;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.ad {
	grid-area: 1/5/2/6;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
}

.personal-data {
	grid-area: 2/5/3/6;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer-content h3 {
	text-transform: uppercase;
	margin-bottom: 24px;
}

.copyright {
	margin-top: 50px;
	align-self: flex-start;
	border-top: 1px solid white;
	padding-top: 37px;
	margin-left: 175px;
	padding-right: 810px;
}

.copyright p {
	display: inline-block;	
}

@media screen and (max-width: 767px) {
	.header-container {
		padding: 20px 6px 12px 6px;
		align-items: flex-end;
	}
	
	.menu {
		display:  none;
	}

	.infopanel {
		margin-left: 0;
		margin-right: 0;
		padding-top: 15px;
		padding-bottom: 15px;
	}

	.main-container {
		background-color: white;
		margin-left: 0;
		margin-right: 0;
		padding-top: 0;
		padding-bottom: 0;
		border-radius: 10px;
	}

	.heading-news {
		font-size: 35px;
		line-height: 35px;
		margin-left: 0;
		margin-right: 0;
		margin-bottom: 15px;
		padding-left: 10px;
		padding-top: 40px;
		padding-right: 10px;
	}

	.news {
		grid-template-columns: 2fr 2fr;
		margin-left: 0;
		margin-right: 0;
	}

	.main-new {
		grid-column: 1/3;
		grid-row: 1/2;
		padding-right: 0;
		margin-bottom: 30px;
		font-size: 30px;
		line-height: 32px;
	}

	.main-new h2 {
		margin-bottom: 30px;
	}

	.new time {
		margin-top: 15px;
	}

	.footer-container {
		padding: 30px 20px 20px 20px;
	}

	.footer-content {
		grid-template-columns: minmax(min-content, 1fr);
		column-gap: 0;
		margin-left: 0;
		margin-right: 0;
	}

	.footer-container ul {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin-bottom: 20px;
		justify-content: center;
		font-size: 14px;
	    line-height: 16px;
	    font-family:  sans-serif;
	    margin-bottom: 35px;
	}

	.footer-container li {
		padding-top: 9px;
		padding-left: 9px;
		padding-right: 9px;
	}

	.footer-container h3 {
		margin-bottom: 0;
		color: gray;
	}

	.rubricator {
		grid-area: 1/1/1/2;	
	}

	.apps {
		grid-area: 2/1/3/2;
	}

	.socials {
		grid-area: 3/1/4/3;
	}

	.telegram {
		grid-area: 4/1/5/2;	
	}

	.push {
		grid-area: 5/1/6/2;	
	}

	.project {
		grid-area: 6/1/7/2;	
	}

	.redaction {
		grid-area: 7/1/8/2;
	}

	.ad {
		grid-area: 8/1/9/2;	
	}

	.personal-data {
		grid-area: 9/1/10/2;
	}

	.copyright {
		white-space: normal;
		margin-top: 50px;
		border-top: 0;
		padding-top: 2px;
		margin-left: 0;
		padding-right: 0;
		text-align: center;
		color: gray;
		margin-top: 35px;
	}

	.copyright p {
		display: block;
	}

	.gif {
		display: block;
		border-top: 1px solid gray;
		border-bottom: 1px solid gray;
		padding-top: 10px;
		padding-bottom: 10px;
		margin-bottom: 10px;
	}

}